/* Default css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

ul li {
  list-style-type: none;
}

/* Header Styling */

.main-header {
  background: #1f2640;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
}

.main-header ul {
  display: flex;
}

.app-logo {
  width: 147px;
  height: 64px;
}
.lang-logo {
  width: 3rem;
  height: 1.5rem;
}

.main-heading {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #2b416c;
}

.main-header ul li {
  display: block;
  padding: 1.25rem;
  overflow: hidden;
}

/* Utility Classes */
.ml-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

h2 {
  line-height: 4rem;
}

.h1-lh-3 {
  line-height: 3.2rem;
}

.img-small {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.img-medium {
  height: 3.4rem;
  width: 3.4rem;
  margin-right: 0.5rem;
}

.img-large {
  height: 10rem;
  width: 10rem;
  margin-right: 0.5rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.151415);
}

.font-small {
  font-style: italic;
  font-size: 0.9rem;
  color: #7788a3;
  line-height: 1.5rem;
}

.applyFlex {
  display: flex;
}

.button-main {
  padding: 1rem 2rem;
  background-color: #f1f1f4;
  color: #181b34;
  border: 2px solid #181b34;
  margin: 2rem 11rem;
}

.div1 h2 {
  color: #2b416c;
}

.button-noStyle {
  border: none;
  background-color: #fff;
  color: #2b416c;
  font-size: initial;
}

.b-0 {
  padding-top: 7rem;
}

/* Media Less than 598 px */

@media only screen and (max-width: 598px) {
  .ml-7 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .main-header ul li {
    padding: 1.25rem 7px;
  }
  .modal {
    max-width: 300px;
  }
  table {
    text-align: center;
  }
}

/* Tab Area */

.tab-main {
  display: flex;
  flex-wrap: wrap;
  border-bottom: #f1f1f4 1px solid;
}

.tab-heading {
  color: #83a515;
  font-weight: 500;
  font-size: 1.2rem;
  /*  margin-right:2rem; */
  cursor: pointer;
  padding: 1.5rem;
}

.selected-tab {
  border-bottom: #83a515 0.2rem solid;
}

/* Table Styling */

.outerTable {
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  overflow-x: auto;
}
table {
  border-spacing: 0px;
}

thead tr {
  height: 3rem;
  color: #7788a3;
}
tbody tr {
  /*  border-bottom: 1px solid #ECECEC; */
  height: 4.3rem;
  color: #2b416c;
}
th,
td {
  width: 1%;
  padding: 1rem;
}
thead {
  background: #f1f1f4;
}

tr {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Hidden Divs */
.hide-div {
  visibility: hidden;
  display: block;
  height: 1px;
}
